<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img src="../public/rain.png" alt="">
        <h1>Enter the city name</h1>
        <form action="/" method="POST">
            <input type="text" name="city" class="city" placeholder="city name">
        </form>
    </div>
</body>
</html>