<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <% if(cityData) {%>
        <h3>Current temperature in <%= city%> is <%= cityData.temperature%></h3>
        <div class="maxmin">
            <h6>Minimum Temperature: <%= cityData['max temperature'] %></h6>
            <h6>Maximum Temperature: <%= cityData['min temperature'] %></h6>
        </div>
        <% } else { %>
            <h3>Data not found</h3>
        <% } %>

    </div>
</body>
</html>